<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.hunachi.githunaclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presentation.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/basic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/basic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.main.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.login.LoginGithubActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="githuna" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.main.profile.MainProfileActivity"
            android:parentActivityName=".presentation.main.MainActivity"
            android:theme="@style/Theme.Design.Light"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.main.MainActivity" />
        </activity>
    </application>

</manifest>
